.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s steps(4, start);
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}
